#jumbotron {
    background-image: url(img/slide1.jpg);
    background-size: cover;
    height: 750px;
    text-align: center;
    margin-top: -120px;
}
#jumbotron .display-4 {
    font-weight: bold;
    margin-top: 200px;
}
#jumbotron p {
    font-size: 24px;
}
#jumbotron hr {
    border-color: antiquewhite;
    border-width: 2px;
}
#jumbotron .btn {
    background-color: #65DB9F;
    border: none;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
}